from werkzeug.security import generate_password_hash, check_password_hash
from flask import Flask, render_template, request, redirect
from wtforms import StringField, SubmitField, IntegerField
from sqlalchemy import create_engine, text
from flask_wtf import FlaskForm
import pandas as pd
import openpyxl
from openpyxl import Workbook
pip install Pillow