{% extends 'layout.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class = "text-center">
                <h2>Please choose a task to perform</h2>
            </div>
        </div>
        <br>
        <form action = "/task" method = "post">
            <select name = "task" class="form-select" aria-label="Default select example">
                <option selected>-- Please choose a task --</option>
                <option name = "create_quotation" value="Create_quotation">Create a new Quotation</option>
                <option name = "edit_prices" value="Edit product prices">Edit the product prices</option>
                <option name = "edit_products"value="Add new product">Add a new product to the list</option>
                <option name = "add_employee" value = "Add Employee">Add a new employee to the list</option>
            </select>
            <p>
                <div class = "text-center">
                    <button type = "submit" class = "btn btn-primary">Submit</button>
                </div>
            </p>
        </form>
    </div>    
{% endblock %}
