{% extends 'layout.html' %}
{% block body %}
    <div class="container">
        <div class = "offset-1">
            Sign In
        </div>
        <form>
            <div class="row">
                <div class = "col">
                    <a href = "#">
                        <button type = "button">Add a Product to the Product List</button>
                    </a>    
                </div>
                <div class = "col">
                    <a href = "#">
                        <button type = "button">Create a new Quotation</button>
                    </a>    
                </div>
            </div>
        </form>
        
    </div>    
{% endblock %}
