{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <div class="row text-center">
            <h1>Create a new Quotation</h1>
        </div>
        <br>
        <hr>
        <div class="row text-center">
            <h1>Client Data</h1>
        </div>
        <br>
        <form action = "/create_quotation" method = "post" id = "product_details">
            <div class = "row">
                <label for = "date" class = "col-sm-1 col-form-label" style="width: 12.499999995%">Quotation Date: </label>
                <div class = "col-3">
                    <input name = "date" id = "date" type="text" value = "{{ customer_info['Date'] }}" class = "form-control" readonly>
                </div>
            </div>
            <br>
            <div class = "row">
                <label for = "cname" class = "col-sm-1 col-form-label" style="width: 12.499999995%">Customer Name: </label>
                <div class = "col-3">
                    <input name = "cname" id = "cname" type="text" value = "{{ customer_info['Customer_Name'] }}" class = "form-control" readonly>
                </div>
                <label for = "cnum" class = "col-sm-1 col-form-label" style="width: 12.499999995%">Customer Number: </label>
                <div class = "col-3">
                    <input name = "cnum" id = "cnum" type="text" value = "{{ customer_info['Customer_Number'] }}" class = "form-control" readonly>
                </div>
            </div>
            <br>
            <div class = "row">
                <label for = "rname" class = "col-sm-1 col-form-label" style="width: 12.499999995%">Rep Name: </label>
                <div class = "col-3">
                    <input name = "rname" id = "rname" type="text" value = "{{ customer_info['Rep_Name'] }}" class = "form-control" readonly>
                </div>
                <label for = "rnum" class = "col-sm-1 col-form-label" style="width: 12.499999995%">Rep Number: </label>
                <div class = "col-3">
                    <input name = "rnum" id = "rnum" type="text" value = "{{ customer_info['Rep_Number'] }}" class = "form-control" readonly>
                </div>
            </div>
            <hr>
            <div class = "row text-center">
                <h1>Product Details</h1>
            </div>
            <br>
            <br>
        
            <div class="row">
                <label for="product_code" class="col-sm-1 col-form-label">Product Code</label>
                <div class="col-4">
                    <input name = "product_code" id = "product_code" type="text" class="form-control" placeholder="Product Code" value = "0" required>
                </div>
                <label for="product_name" class="col-sm-1 col-form-label">Product Name</label>
                <div class="col-4">
                    <input class="form-control" list="datalistOptions" id="product_names_list" placeholder="Type to search..." required>
                    <datalist id="datalistOptions">
                        {% for product in products %}
                            <option id = "product_name" data-tokens= "{{product[1]}}" value = "{{product}}">{{product[1]}}</option>
                        {% endfor %}    
                    </datalist>
                </div>
            </div> 
            <div class="row">
                <label for = "quantity" class = "col-sm-1 col-form-label">Quantity</label>
                <div class="col-4">
                    <input name = "quantity" id = "quantity" type="number" class="form-control" min = "1" placeholder="Product Quantity" required>
                </div>
            </div>
            <br>
            <div class="row">
                <button type = "submit" class = "btn btn-primary">Add Product to list</button>
            </div>
        </form>
        <script type = "text/javascript">
            $(document).on('change', '#product_names_list', function(){
                var options = $('#datalistOptions')[0].options;
                for (var i=0;i<options.length;i++){
                    if (options[i].value == $(this).val()) 
                        {   
                            product = options[i].value.slice(1, -1).split(",")
                            document.getElementById("product_names_list").value = product[1]
                            console.log(product[1])
                            document.getElementById("product_code").value = product[0];
                            console.log(product[0])
                            break;
                        }
                    }
            });
            $(document).on('change', '#product_code', function(){
                var options = $('#datalistOptions')[0].options;
                for (var i=0;i<options.length;i++){
                    console.log(options[i].value)
                    product = options[i].value.slice(1, -1).split(",")
                    if (product[0] == $(this).val()) 
                        {   
                            product = options[i].value.slice(1, -1).split(",")
                            document.getElementById("product_names_list").value = product[1]
                            console.log(product[1])
                            document.getElementById("product_code").value = product[0];
                            console.log(product[0])
                            break;
                        }
                    }
            });
        </script>   
        <hr>
        <br>
        <br>
        <div class="row text-center">
            <h1>Output Table</h1>
        </div>
        <br>
        <table class = "table table-striped">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Sum</th>
                </tr>
            </thead>
            <tbody>
                    {% for entry in entries %}
                    <tr>
                        <td>{{entry[1]}}</td>
                        <td>{{entry[0]}}</td>
                        <td>{{entry[2]}}</td>
                        <td>{{entry[3]}}</td>
                        <td>{{entry[4]}}</td>
                        <td>{{entry[5]}}</td>
                        <td>{{entry[6]}}</td>
                    </tr>
                    {% endfor %}
                    
            </tbody>
        </table>
        <form action = "/preview", method = "post">
            <button type = "submit" class = "btn btn-primary">Preview Quotation</button>
        </form>
    </div>
      
    
{% endblock %}