{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <form action = "/customer_info" method = "post">
            <div class="row">
                <div class="row form-group">
                    <label for="date" class="col-sm-1 col-form-label">Issue Date</label>
                    <div class="col-4">
                        <div class="input-group date" id="datepicker">
                            <input name = quotation_date id = "quotation_date" type="text" class="form-control" placeholder = "DD/MM/YYYY">
                            <span class="input-group-append">
                                <span class="input-group-text bg-white d-block">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="customer_name" class="col-sm-1 col-form-label">Customer Name</label>
                <div class="col-4">
                    <input required name = "customer_name" id = "customer_name" type="text" class="form-control" placeholder="Enter Customer Name">
                </div>
                <label for="customer_number" class="col-sm-1 col-form-label">Customer Number</label>
                <div class="col-4">
                    <input required name = "customer_number" id = "customer_number" type="tel" class="form-control" placeholder="Enter Customer Number">
                </div>
            </div>
            <div class="row">
                <label for="rep_name" class="col-sm-1 col-form-label">Contact Name</label>
                <div class="col-4">
                    <input name = "rep_name" id = "rep_name" type="text" class="form-control" placeholder="Enter Rep name here">
                </div>
                <label for="rep_number" class="col-sm-1 col-form-label">Contact Number</label>
                <div class="col-4">
                    <input name = "rep_number" id = "rep_number" type="tel" class="form-control" placeholder="Enter Rep Number here">
                </div>
            </div>
            <br>
            <div class ="row">
                <button type = "submit" class = "btn btn-primary">Submit Customer Info</button>
            </div>
        </form>
        <script type="text/javascript">
            $(function() {
                $('#datepicker').datepicker({
                    format: 'dd/mm/yyyy',
                    autoclose: true,
                    todayHighlight: true,
                    todayBtn: 'linked'
                });
            });
        </script>
    </div>
{% endblock %}