{% extends 'layout.html' %}
{% block body %}
    <div class="container">
        <div class = "offset-1">
            <h2>Sign In</h2>
        </div>
        <form action = "/login" method = "post">
            <div class="row">
                <div class = "col-6 offset-1">
                    <div class = "row">
                        <label for = "Username" class = "form-label">Username</label>
                        <input required type = "text" class = "form-control" name = "Username" id = "Username" placeholder = "Please enter your name here" autocomplete="off">
                    </div>
                    <div class="row">
                        <label for = "Password" class = "form-label">Password</label>
                        <input required type = "password" class = "form-control" name = "Password" id = "Password" placeholder = "Please enter your password here" autocomplete="off">
                    </div>
                    <br>
                    <div class="row">
                        <button type = "submit" class = "btn btn-primary">Sign In</button>
                    </div>
                </div>
                <div class = "col-5">
                    <img src = "https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=328,h=297,fit=crop/AoPE27RPogUDkbDp/care-bot4-AQE8GDWVlMIqKpxP.png" alt = "Carebot" width="75%">
                </div>
            </div>
        </form>
        
        
    </div>    
{% endblock %}
