{% extends "layout.html" %}
{% block body %}

    <div class="container">
        <div class="row text-center">
            <h1>Quotation Preview</h1>
        </div>
        <br>
        <br>
        <script type="text/javascript"> 
            $(document).ready(function () { 
         
                $("a").click(); 
         
            }); 
        </script> 
        <form action = "/Download" method = "post" id = "product_details">
            <div class="row d-flex align-items-center justify-content-center">
                <p>
                    You've successfully submitted your quotation, click the button below to download the PDF.
                </p>
                <a href = "{{ pdf_path }}" download class="btn btn-primary">Download PDF</a>
            </div>
        </form>
    </div>
    
    

{% endblock %}