{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <div class="row text-center">
            <h1>Quotation Preview</h1>
        </div>
        <br>
        <br>
        <form action = "/Download" method = "post" id = "product_details">
            <table class = "table table-striped">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Sum</th>
                        <th>Download Brochure</th>
                    </tr>
                </thead>
                <tbody>
                        {% for entry in entries %}
                        <tr>
                            <td style="height: 3%; width: 10%;"><img src="{{url_for('static', filename = entry[0])}}" style="max-width: 100%; height: auto;" onclick="this.requestFullscreen()"></td>
                            <td style="height: 3%; width: 60%; vertical-align: middle;">{{entry[1]}}</td>
                            <td style="height: 3%; width: 10%; vertical-align: middle;">{{entry[2]}}</td>
                            <td style="height: 3%; width: 10%; vertical-align: middle;">{{entry[3]}}</td>
                            <td style="height: 3%; width: 10%; vertical-align: middle;">{{entry[4]}}</td>
                            <!--Brochure download button-->
                            <td style="height: 3%; width: 10%; vertical-align:middle;">
                                {% if entry[5] == "spec" %}
                                <p></p>
                                {% elif entry[5] != None %}
                                <a href = "{{entry[5]}}" class = "btn btn-primary">Brochure</a>
                                {% else %}
                                <a href = "#" class = "btn btn-primary disabled">Brochure Unavailable</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        
                </tbody>
            </table>
            <div class="row d-flex align-items-center justify-content-center">
                <a href = "{{quotation_pdf}}" download class="btn btn-primary">Download Quotation</a>
            </div>
        </form>
        <br>
    </div>
    
      
    
{% endblock %}